.item{
    margin-top: 10px;
    background-color:azure;
    height: fit-content;
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center;
    border-radius: 5px;
}

.textitem{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 70%;
}

.icondelete{
    display: inline-block;
    vertical-align: middle;
}

.icondelete:hover{
    scale: 1.2;
}

.iconedit:hover{
    scale: 1.2;
}

.iconedit{
    height: 18px;
    width: 18px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}